.main {
  &-top {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &--title {
      h4 {
        color: $primary;
        margin: 0 0 $spacer / 2;
      }
      p {
        color: $muted;
        font-size: $font-size-xs;
        margin: 0;
      }
    }
    &--iconForm {
      figure {
        @include icons-style;
      }
    }
  }
}