.orders {
  display: grid;
  grid-gap: $spacer;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.order {
  align-items: center;
  background-color: $card-today;
  border: 1px solid $border-card;
  border-radius: $spacer * 1.5;
  display: flex;
  padding: $spacer;
  position: relative;
  &::after {
    border: 1px solid $border-card;
    border-radius: $spacer * 1.5;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate($spacer * .3, $spacer * .3);
    z-index: -1;
  }
  &-icon {
    @include icons-style($white);
    flex-shrink: 0;
    margin-right: $spacer;
  }
  &-summary {
    width: 100%;
  }
  &-name {
    font-size: $font-size-base;
    margin: 0 0 $spacer / 2;
  }
  &-description, &-date {
    color: $muted;
    font-size: $font-size-xs;
    margin: 0;
  }
  &-price {
    margin: $spacer 0 0;
    font-size: $font-size-base;
  }
  &-actions {
    margin-top: $spacer * 1.5;
    text-align: right;
    button {
      &:first-child {
        margin-right: $spacer / 2;
      }
      &:last-child {
        background-color: $danger-color;
      }
    }
  }
}